body {
    color:white;
    background-color:white;
    background-image:url(https://blenderartists.org/uploads/default/original/3X/d/9/d9cd135c6ae12b25400cf55c4c3f7b93656b27cb.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    }

aside {
    min-height: calc(100vh - 56px);
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    padding-top: 1rem;
}

.sidebar-sticky h2 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sidebar-sticky ul {
    list-style: none;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 1rem;
}
    .sidebar-sticky li {
        margin: 1em 0;
    }

main {
    padding-top: 1rem;
    padding: 150px 200px;
}

#login{
    text-align: center;
}

.loginButton {
    display: block;
    margin-bottom: 5px!important;
    width: 50%;
    margin: auto;
}

#legals {
    font-size: 10px
}


#messages {
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 3px 10px;
    font-size: 14px;
    color: gray;
}